.categories {
  border-bottom: lighten($brand-tan, 10%) solid 0.1rem;
  border-top: lighten($brand-tan, 10%) solid 0.1rem;
  background: $brand-white;
}

.cat-nav {
  display: flex;
  color: $brand-gray;
  text-decoration: none;
  font-weight: normal;

  &__item {
    margin: 0 $gutter;


    & :hover {
      cursor: pointer;

    }
  }

  &__item-text {
    margin: 0;
  }
}
