.footer-links {
  width: 100%;


  &__row {
    display: flex;
    justify-content: space-around;
    width: 70rem;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__column-header {
    margin: 2rem 0 $gutter;
    font-family: $brand-serif;
    font-weight: normal;
  }

  &__column-link {
    margin: 0.5rem 0;
    color: $brand-light-blue;
    font-family: $brand-serif;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.open-shop {
  width: 50%;
  height: 2rem;
  border: 0;
  border-radius: 5px;
  background: $brand-light-blue;
  color: $brand-white;
  cursor: pointer;
}

.font-awesome {
  color: $brand-light-blue;
  margin: 0;
}

.footer-links__column-list {
  margin: 0;
}

.footer-links__column-item {
  margin: 0.8rem 0;
}
