.email-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70rem;
  margin: 2rem auto 0;
  border: 0.5rem solid rgba(0, 0, 0, .05);
}

.email-sub__msg {
  margin: $gutter;
  font-size: 1rem;
}

.email-sub__user-interaction {
  position: relative;
  width: 45%;
  padding: $gutter;
}

.enter-email {
  width: 60%;
}

.subscribe-button {
  position: absolute;
  right: 7%;
  bottom: 17%;
  width: 30%;
  height: 2.2rem;
  border: 0;
  border-radius: 5px;
  background: $brand-light-blue;
  color: $brand-white;
  cursor: pointer;
}
